<div class="container">
    <h2 class="text-center mt-2">Policy List</h2>
    <div class="table-responsive">
        <table class="table table-bordered mt-4" >
            <thead style="background-color: #BB8FCE;">
                <tr>
                <th>S.No</th>
                <th>Policy Name</th>
                <th>minimum age</th>
                <th>minimum amount</th>
                <th>description</th>
            </thead>
            <tbody>
                <tr *ngFor="let a of Policies index as i">
                    <td>{{i+1}}</td>
                    <td>{{a.policyname}}</td>
                    <td>{{a.minage}}</td>
                    <td>{{a.minamount}}</td>
                    <td>{{a.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>